body {
    min-height: 4096px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    padding-bottom: 100px;
}

footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 20px;
   background-color: #ccc;
}